﻿.void-grid{word-break:break-word}.void-grid .byline,.void-grid .updated:not(.published) { display: inline-block; } .void-grid .entry-header{text-align:center;margin-bottom:30px;position:relative}.void-grid .entry-header img{margin:auto auto}.void-grid .entry-title{display:inline}.void-grid .post-img{margin-bottom:30px}.void-grid .entry-content{margin-bottom:30px}.void-grid .entry-meta{margin-bottom:5px}.void-grid .blog-excerpt{margin-bottom:40px}.void-grid .list h1{margin:0}.void-grid .list h2{margin:0}.void-grid .list h3{margin:0}.void-grid .list h4{margin:0}.void-grid .list h5{margin:0}.void-grid .list h6{margin:0}.void-grid .list .entry-header{border-bottom:1px solid #d3d3d3;overflow:hidden;margin-top:30px;padding-bottom:30px}.void-grid .list .entry-header .post-info{overflow:hidden}.void-grid .list .post-navigation{border-top:none}.void-grid .first-post-list h1{margin:0}.void-grid .first-post-list h2{margin:0}.void-grid .first-post-list h3{margin:0}.void-grid .first-post-list h4{margin:0}.void-grid .first-post-list h5{margin:0}.void-grid .first-post-list h6{margin:0}.void-grid .first-post-list .entry-header{border-bottom:1px solid #d3d3d3;overflow:hidden;margin-top:30px;padding-bottom:30px}.void-grid .first-post-list .entry-header:first-child .post-img{float:none}.void-grid .first-post-list .entry-header:first-child .post-info{text-align:center;overflow:hidden}.void-grid .first-post-list .post-navigation{border-top:none}.void-grid .grid .entry-header{margin-top:30px}.void-grid .first-post-grid .entry-header{margin-top:30px}.void-grid .post-img{position:relative}.void-grid .top-left .post-img img{border-top-left-radius:75px;border-bottom-right-radius:75px}.void-grid .top-right .post-img img{border-top-right-radius:75px;border-bottom-left-radius:75px}.void-grid .minimal .tags-links{display:none !important}.void-grid .minimal .comments-link{display:none !important}.void-grid .minimal .cat-links{margin-top:15px}.void-grid .minimal .cat-links::before{display:none !important}.void-grid .minimal .cat-links a{color:#7cb0b9;font-weight:bold;font-size:18px}.void-grid .minimal .entry-title{margin-top:0}.void-grid .minimal .moretag{display:none}.void-grid .minimal .entry-header{margin-top:30px;border:1px solid #d3d3d3;margin-bottom:40px}.void-grid .minimal .blog-excerpt{margin-top:15px}.void-grid .cat-links::before{content:"";display:inline-block;font-family:FontAwesome;padding:10px}.void-grid .tags-links::before{content:"";display:inline-block;font-family:FontAwesome;padding:10px}.void-grid .updated-on::before{content:"";display:inline-block;font-family:FontAwesome;padding:10px}.void-grid .posted-on::before{content:"";display:inline-block;font-family:FontAwesome;padding:10px}.void-grid .comments-link::before{content:"";display:inline-block;font-family:FontAwesome;padding:10px}.void-grid .author::before{content:"";display:inline-block;font-family:FontAwesome;padding:10px}.void-grid .cat-links,.void-grid .tags-links,.void-grid .updated-on,.void-grid .posted-on,.void-grid .comments-link,.void-grid .author{display:inline-block}@media only screen and (min-width: 768px){.list .post-img{float:left;margin-right:20px}.list .post-info{text-align:left}.first-post-list .post-img{float:left;margin-right:20px}.first-post-list .post-info{text-align:left}}

.kajuzi-taxonomy-card-list ul {
	column-count: 2;
	padding: 0;
	list-style: none;
}

.kajuzi-taxonomy-card-more-link {
	text-align: center;
	font-weight: bold;
	border-top: 1px dotted #dd993390;
}

.kajuzi-taxonomy-card-list a {
    color: #882021;
}